body {
    min-height: 100vh;
    background-color: ghostwhite;
}
body * {
    font-size: 11px;
}
h1 {
    text-align: center;
    padding: 25px 0 50px;
    font-size: 40px;
}
body select {
    display: inline-block;
    margin: 15px 0 30px;
}
.recharts-responsive-container {
    margin: 0 auto;
}
.updated-at {
    font-size: 14px;
    margin: 0 0 30px;
    text-align: center;
}
.updated-at b {
    font-size: 14px;
}
.multi-select-container {
    margin: 15px 0;
}